html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
     
}
  
body {
      font: 16px FiraGO, georgia, sans-serif;
      color: #586e75;
      margin: 0 10px 10px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
