html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
     
}
  
body {
      font: 16px FiraGO, georgia, sans-serif;
      color: #586e75;
      margin: 0 20px 20px !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/img00.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.view {
  color: black;
  background: url("../img/img01.jpg")no-repeat center center;
  background-size: cover;
}

